header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	margin-bottom: 37px;

	@include for-desktop-up {
		padding: 15px 15px 10px;
		margin-bottom: 10px;
	}

	@include for-tablet-portrait-up {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		padding: 8px 15px 2px;
	}
}

.header__logo {
	font-family: 'Playfair Display', serif;
	font-size: 30px;

	@include for-tablet-portrait-up {
		margin-bottom: 20px;
		padding-left: 7px;
	}
}